python-dotenv>=1.0,<2.0
fastapi>=0.110,<0.112
uvicorn[standard]>=0.29,<0.32
aiohttp>=3.9,<4.0
python-multipart>=0.0.6,<0.0.8
pyyaml>=6.0,<7.0

# PDF / OCR stack, maybe remove?
# pdfminer.six==20250506
pdfminer.six==20250324
ocrmypdf>=14.4,<15.0
pikepdf>=8.0,<9.0

# New PDF / OCR stack
pytesseract
Pillow
PyMuPDF

requests

# DOCX parsing
python-docx>=1.1.0,<2.0
